body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

header {
    background-color: #f0f0f0;
    padding: 10px;
}

h1 {
    margin: 0;
    font-size: 1.2em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.season-btn, button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 2px;
    cursor: pointer;
    border-radius: 3px;
}

main {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

#displayPage{
    width: 100%;
    height: 100%;
}

<<<<<<< HEAD
=======

>>>>>>> edcdb0b2e15950b21720e6a39968fc2895fdf00d
#schedule-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#day-of-week {
    display: flex;
    height: 30px;
    border-bottom:1px solid #000;
}

.column {
    flex: 1;
    border-right: 1px solid #000;
    text-align: center;
    font-weight: bold;
}

<<<<<<< HEAD
#row {
=======
#schedule-list{
    position: relative;
    border: 10px solid;
    flex-grow: 1;
>>>>>>> edcdb0b2e15950b21720e6a39968fc2895fdf00d
    display: flex;
    flex-direction: row;
}

<<<<<<< HEAD
#time-axis {
    top: 31px;
    width: calc(100vw/8 - 1px);
    height: 100vh;
    border-right: 1px solid #000;
}

#schedule-list {
    position: relative;
    flex-grow: 1;
    height: 100vh;
    width: calc(100vw - 100vw/8);
    display: flex;
}

.schedule-column {
    flex: 1;
    border-right: 1px solid #000;
}

=======
>>>>>>> edcdb0b2e15950b21720e6a39968fc2895fdf00d
