body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 30px;
    display: flex;
    flex-direction: row;
    background-color: #ffa500;
    padding: 10px;
}

h1 {
    margin: 0;
    font-size: 30px;
}

nav {
    display: flex;
    position: absolute;
    right: 20px;    
    top: 5px; 
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px
}

.season-btn, button {
    background-color: #A52A2A
;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 2px;
    cursor: pointer;
    border-radius: 3px;
}

#show-settings{
    height: 40px;
    width: 60px;
}

#downloadPdfButton{
    height: 40px;
    width: 60px;
}

#current-season{
    font-size: 30px;
}

main {
    flex-grow: 1;
    display: flex;
    overflow: scroll;
}



#displayPage{
    width: 100%;
    height: 100%;
}

#schedule-container {
    width: 100vw;
    height: 1000px;
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-direction: row;
    border-bottom:1px solid #000;
}

.schedule-column{
    flex: 1;
    flex-direction: column;
    border-right: 1px solid #000;
    border-bottom:1px solid #000;
}


.schedule-row {
    flex: 1;
    height: 25px;
    border-bottom: 1px solid #000;
    text-align: center;
    font-weight: bold;
    background-color: #D3D3D3;
}


.time-column {
  height: 975px; 
}

